section.ready.sectionForProgresCircleColor
    .container
        .ready__content
            .ready__contentLeft.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                    .ready__contentLeftTop
                        .ready__contentLeftTopTexts
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    h1.servisec-list__item-title.servicesTitle.servicesTitle
                                        span.servisec-list__item-title-span Готовы 
                                        | &nbsp; немедленно приступить к выполнению задач
                            
                            p.ready__contentLeftTopTextsText
                                | К нам обращаются с различными задачами, и встречаются задачи, которые требуют срочного вмешательства специалиста
            
                    .ready__contentLeftBottomFormWrapper
                        form().ready__contentLeftBottomForm
                            .ready__contentLeftBottomFormTitleWrapper
                                h4.ready__contentLeftBottomFormTitle Заполните форму и мы свяжемся с вами для обсуждения задач!

                            .ready__contentLeftBottomFormInputs
                                input.ready__contentLeftBottomFormInput(type="text" name="name" placeholder="Ваше имя")
                                input.ready__contentLeftBottomFormInput(type="text" name="tell" placeholder="Ваш телефон")

                            .ready__contentLeftBottomFormTextWrapper
                                p.ready__contentLeftBottomFormText
                                        | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.

                            .ready__contentLeftBottomFormButtonWrapper
                                button(type="submit").ready__contentLeftBottomFormButton
                                    p.ready__contentLeftBottomFormButtonText
                                        | Оставить заявку

                                    img.ready__contentLeftBottomFormButtonImage(
                                            src="assets/images/modification/buttonArrow.svg" alt="Декоративная стрелка" 
                                            width=15 height=15
                                        )

            .ready__contentRight
                .ready__contentRightItems

                    .ready__contentRightItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                        .ready__contentRightItemLeft
                            img.ready__contentRightItemLeftImage(
                                src="assets/images/modification/experience.svg" alt="Декоративная картинка" 
                                width=63 height=63
                            )

                        .ready__contentRightItemRight
                            h3.ready__contentRightItemRightTitle Большой опыт
                            p.ready__contentRightItemRightText
                                | Для нас не существует невозможных задач, мы работаем со всеми существующими CMS системами, включая самописные


                    .ready__contentRightItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                        .ready__contentRightItemLeft
                            img.ready__contentRightItemLeftImage(
                                src="assets/images/modification/lamp.svg" alt="Декоративная картинка" 
                                width=60 height=76
                            )

                        .ready__contentRightItemRight
                            h3.ready__contentRightItemRightTitle Большой опыт
                            p.ready__contentRightItemRightText
                                | Для нас не существует невозможных задач, мы работаем со всеми существующими CMS системами, включая самописные

                    .ready__contentRightItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                        .ready__contentRightItemLeft
                            img.ready__contentRightItemLeftImage(
                                src="assets/images/modification/deadline.svg" alt="Декоративная картинка" 
                                width=55 height=65
                            )

                        .ready__contentRightItemRight
                            h3.ready__contentRightItemRightTitle Большой опыт
                            p.ready__contentRightItemRightText
                                | Для нас не существует невозможных задач, мы работаем со всеми существующими CMS системами, включая самописные
