section.why.sectionForProgresCircleColor
    .container
        .why__content
            .why__contentTop.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                h1 SEO текст продвижение сайта
            .why__contentBottom.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                p Наша компания занимается продвижением сайтов в поисковых системах более 8 лет. За это время мы научились выводить в ТОП сайты различных тематик, привлекать максимум коммерческого трафика даже на самых сложных проектах. В нашем портфолио более 700 сайтов, 90+ действующих проектов, а также интернет-магазины и сайты с услугами на технической поддержке. 
                p В нашей работе мы применяем комплексное SEO продвижение, в которое входит:
                
                ul.why__contentBottomList

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p анализ конкурентов, сбор семантического ядра;
                            
                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p ехнический и коммерческий аудиты, базовый анализ юзабилити;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p  внутренняя оптимизация сайта;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p закупка ссылочной массы;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p поднятие авторитетности сайта;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p улучшение поведенческих характеристик путем проработки страниц.


                p В работе с клиентами мы ставим перед собой задачу создать индивидуальную модель продвижения для каждого сайта. Наши условия сотрудничества выгодны как для крупного бизнеса, так и для владельцев небольших сайтов. 
                p Мы постоянно развиваемся: проводим тренинги для своих специалистов, изучаем опыт других компаний, разрабатываем собственные кейсы. Многолетний опыт вместе с поиском новых технологий раскрутки сайтов позволяют нам поддерживать высокое качество предоставляемых SEO услуг.
                    
                h3 Продвижение в Яндекс

                p Яндекс — это лидер пользовательского охвата в Рунете. С него идет большая часть коммерческого трафика и потенциальных клиентов. Постоянно разрастаясь и улучшая свои алгоритмы поиска, Яндекс является приоритетом для российских компаний.
                p В процессе оптимизации сайта под Яндекс мы учитываем такие важные моменты, как:

                ul.why__contentBottomList

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p отсутствие технических ошибок;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p текстовую релевантность страниц;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p удобство пользования ресурсом;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p полноту структуры;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p уникальные и человекопонятные тексты.

                h3 Продвижение в Google

                p Наша компания имеет большой и успешный опыт в Google, что подтверждается позициями в ТОП-10 более семидесяти клиентских сайтов. Основные моменты при работе с этой системой:

                ul.why__contentBottomList

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p уникальный и полезный контент;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p скорость загрузки сайта;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p возраст ресурса;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p внешнее ссылочное продвижение;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p внутренняя перелинковка.

                p Каждому клиенту мы стараемся обеспечить рост позиций и потенциальных клиентов.