header.header--main.header--main-black-mode
    .container.container--header.container--header-black-mode
        .header__logo-block
            a( href="index.html" )
                img.header__logo-block-image.header__logo-block-image--white.header__logo-block-image--white-mode(
                    src="./assets/images/header/header-logo--white.svg" alt="Логотип веб студии"
                    width="219" height="58"
                )

        button.header__closeBurgerMenuBtn
            img(
                src="./assets/images/utils/closeCross.svg" alt="Логотип веб студии"
                width="40" height="40"
            )
            