.checkboxBlock
	.checkboxBlockCheckboxesWrapper
        input(type="checkbox" id="" name="").checkboxBlockCheckbox
        .checkboxBlockCustomCheckbox
            .checkboxBlockCustomCheckboxFillWrapper
                .checkboxBlockCustomCheckboxFill
        label(for="").checkboxBlockLabel