.progress-circle
    .progress-circle__block
        svg.progress-ring( width=86 height=86 )
            circle.progress-ring__circle( stroke="#C6FF00" stroke-width=4 cx=43 cy=43 r=25 )

        .progress-circle-arrows
            img.progress-circle-arrow.progress-circle-arrow--salad(
                src= "assets/images/circle/circle-arrow.svg" alt="Зеленая стрелка"
                width=20 height=36
            )
            img.progress-circle-arrow.progress-circle-arrow--black(
                src= "assets/images/circle/circle-arrow--black.svg" alt="Черная стрелка"
                width=20 height=36
            )