section.about-us-index.blackSection.sectionForProgresCircleColor
    p.about-us__decoration-image--left ITSHTAB
    img.about-us__decoration-image--right(
        src="assets/images/utils/semicircle-to-left--gray.svg" alt="Декоративный круг"
        width="408" height="384"
    )

    .about-us__running-line-index.about-us__running-line-white-index
        .about-us__running-line-list-index.about-us__running-line-list-white-index
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index THYPOGRAPHY
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index THYPOGRAPHY
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index THYPOGRAPHY
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index THYPOGRAPHY

    .about-us__running-line-index.about-us__running-line-salad-index
        .about-us__running-line-list-index.about-us__running-line-list-salad-index
            .about-us__running-line-list-item-index THYPOGRAPHY
            .about-us__running-line-list-item-index MARKETING
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index THYPOGRAPHY
            .about-us__running-line-list-item-index MARKETING
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index MARKETING
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index WEB
            .about-us__running-line-list-item-index THYPOGRAPHY
            .about-us__running-line-list-item-index MARKETING
            .about-us__running-line-list-item-index STUDIO
            .about-us__running-line-list-item-index DIGITAL SOLUTION
            .about-us__running-line-list-item-index BRANDING
            .about-us__running-line-list-item-index DEVELOPMENT
            .about-us__running-line-list-item-index STRATEGY
            .about-us__running-line-list-item-index AGENCY
            .about-us__running-line-list-item-index WEB

    .container.container--about-us
        .about-us__left-side-index
            picture
                source(srcset="assets/images/index/about-us/left-side-image.webp" type="image/webp")
                source(srcset="assets/images/index/about-us/left-side-image.jpg" type="image/jpg")
                img.about-us__left-side-image-block-index(
                    src="assets/images/index/about-us/left-side-image.jpg" alt="Коллектив веб студии"
                    width="550" height="765"
                )

        .about-us__right-side-index
            .about-us__right-side-content-index
                .about-us__right-side-overtitle-index
                    p Несколько слов о нас
                    .about-us__right-side-overtitle-line-index

                h2.about-us__right-side-title-index
                    | Мы агентство стратегического
                    | цифрового развития
                h3.about-us__right-side-suptitle-index
                    | Мы команда стратегического цифрового маркетинга
                    | работаем по всему миру с крупнейшими брендами, мы верим
                    | что прогресс происходит только тогда, когда вы отказываетесь
                    | играть безопасно. Мы объединяем идеи и действия,
                    | и идеи с дизайном, технологическими данными для
                    | создавать впечатления от бренда, которые нравятся клиентам
                    | наши сервисы.

                .about-us__right-side-benefits-index
                    ul.about-us__right-side-benefits-list-index
                        li.about-us__right-side-benefits-list-item-index
                            span  10
                            | лет на
                            br
                            | рынке digital
                            br
                            | услуг
                        li.about-us__right-side-benefits-list-item-index
                            | Более
                            span  200
                            br
                            | сайтов запущено
                            br
                            | нами
                        li.about-us__right-side-benefits-list-item-index
                            | Ежедневно
                            br
                            | обслуживаем
                            br
                            span  42
                            | проекта
                        li.about-us__right-side-benefits-list-item-index
                            | Для нас
                            span  НЕТ
                            br
                            | невозможных
                            br
                            | задач

                .fillingButton.fillingButton--about-us.modalTrigger(data-modal="1")
                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                    svg.fillingButton__svg( viewBox="0 0 204 204" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--about-us( cx="102" cy="102" r="102" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--about-us

                    .fillingButton__content
                        p.fillingButton__p
                            span Узнать
                            | подробнее