.answers__contentBottomLeftAccordions
    .answers__contentBottomLeftAccordion
        button.answers__contentBottomLeftAccordionTop(aria-expanded="false")
            h3.answers__contentBottomLeftAccordionTopTitle Вопрос 1
            .answers__contentBottomLeftAccordionTopClose
                .answers__contentBottomLeftAccordionTopCloseCircleSalad
                    img.answers__contentBottomLeftAccordionTopCloseCircleSaladCross(
                        src="assets/images/attraction/cross.svg" alt="Декоративный круг"
                    )