section.listAfterIntro.sectionForProgresCircleColor
    .blogLines
        .blogLine
        .blogLine

    img.projects__obliqueLines-sds(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Декоративные линии"
        width=175 height=305
    )

    .container
        .listAfterIntro__content
            .listAfterIntro__contentTop.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                .listAfterIntro__contentTopLeft
                    h3.listAfterIntro__contentTopLeftTitle 
                        |Сделаем для вас
                        br
                        | Landing Page, который:
                .listAfterIntro__contentTopRight
                    p.listAfterIntro__contentTopRightText LANDING PAGE

            .listAfterIntro__contentBottom
                .solve__contentRight
                    ol.solve__contentRightList
                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 01
                            h2.solve__contentRightListItemText
                                | Прекрасно обращает внимание на ваш товар или услугу

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 02
                            h2.solve__contentRightListItemText
                                | Обладает удобной, доступной, понятной навигацией и навигацией

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 03
                            h2.solve__contentRightListItemText
                                | Имеет высокую конверсию и эффективно превращает посетителя в лид
                        
                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 04
                            h2.solve__contentRightListItemText
                                | Не имеет проблем с долгой загрузкой ресурсов независимо от типа устройства

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 05
                            h2.solve__contentRightListItemText
                                | Отлично выглядит на мобильных и десктопных устройствах

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 06
                            h2.solve__contentRightListItemText
                                | Прекрасно информирует посетителя о преимуществах вашего товара или услуги

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 07
                            h2.solve__contentRightListItemText
                                | Имеет хорошо выстроенную, понятную продающую структуру блоков 

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 08
                            h2.solve__contentRightListItemText
                                | Делает ваших новых клиентов постоянными и помогает возвращать старых

                        li.solve__contentRightListItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            .servisec-list__item
                                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher.servisec-list__item-title-span-wrapper--wide
                                    .servisec-list__item-title-span-bg

                                .servisec-list__item-content
                                    .servisec-list__item-title.intro__bottomTitle
                                        span.servisec-list__item-title-span 09
                            h2.solve__contentRightListItemText
                                | Поможет четко отразить позиционирование вашей компании или личного бренда