section.offer.sectionForProgresCircleColor.whiteSection
    .container
        .offer__content
            .offer__contentTop.offer__contentTop-sds.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                .servisec-list__item.servisec-list__item-sds
                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                        .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg--transparent

                    .servisec-list__item-content
                        h1.servisec-list__item-title.servicesTitle.servicesTitle--black
                            span.servisec-list__item-title-span 
                            | Хотите получить еще более выгодное предложение?

                p.offer__contentTopText
                    | Актуальные предложения для вас

            
            .offer__contentMiddle.offer__contentMiddle-sds
                .offer__contentMiddleItems
                    .offer__contentMiddleItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .offer__contentMiddleItemIconWrapper
                            img.offer__contentMiddleItemIcon(
                                src="assets/images/attraction/sale.svg" alt="Процент"
                                width=24 height=23
                            )

                        h4.offer__contentMiddleItemTitle до 10% за разумный подход
                        p.offer__contentMiddleItemTitleText
                            | Закажите разработку сайта, и мы предоставим скидку до 10% на SEO продвижения

                    .offer__contentMiddleItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .offer__contentMiddleItemIconWrapper
                            img.offer__contentMiddleItemIcon(
                                src="assets/images/attraction/sale.svg" alt="Процент"
                                width=24 height=23
                            )

                        h4.offer__contentMiddleItemTitle до 10% за разумный подход
                        p.offer__contentMiddleItemTitleText
                            | Закажите разработку сайта, и мы предоставим скидку до 10% на SEO продвижения

                    .offer__contentMiddleItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .offer__contentMiddleItemIconWrapper
                            img.offer__contentMiddleItemIcon(
                                src="assets/images/attraction/sale.svg" alt="Процент"
                                width=24 height=23
                            )

                        h4.offer__contentMiddleItemTitle до 10% за разумный подход
                        p.offer__contentMiddleItemTitleText
                            | Закажите разработку сайта, и мы предоставим скидку до 10% на SEO продвижения


        