section.whatMore.sectionForProgresCircleColor.whiteSection
    img.decorativeCicrcleWithLines.decorativeCicrcleWithLines--whatMore(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Круг с линиями" 
         width=445 height=445
    )

    .container
        .whatMore__content
            .whatMore__contentLeft.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .whatMore__contentLeftTop
                    .servisec-list__item
                        .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                            .servisec-list__item-title-span-bg

                        .servisec-list__item-content
                            h1.servisec-list__item-title.servicesTitle--black.servicesTitle
                                span.servisec-list__item-title-span Что&nbsp;
                                | &nbsp;еще мы можем сделать для вас

                .whatMore__contentLeftBottom
                    .whatMore__contentLeftBottomButtons
                        a(href="#").whatMore__contentLeftBottomButton Landing page
                        a(href="#").whatMore__contentLeftBottomButton Интернет магазин
                        a(href="#").whatMore__contentLeftBottomButton Техническа поддержка
                        a(href="#").whatMore__contentLeftBottomButton Интернет реклама

            .whatMore__contentRight.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                picture
                    source(srcset="assets/images/seo/bigArrow.webp" type="image/webp")
                    source(srcset="assets/images/seo/bigArrow.png" type="image/png")
                    img.whatMore__contentRightImage(
                        src="assets/images/seo/bigArrow.jpg" alt="Большая стрелка" 
                        width=466 height=443
                    )