section.why.sectionForProgresCircleColor
    .container
        .why__content.why__content-textP.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
            .why__contentTop
                h1 Разработка landing page
                p
                    | Наша компания занимается продвижением сайтов в поисковых системах более 8 лет. За это время мы научились выводить в ТОП сайты различных тематик, привлекать максимум коммерческого трафика даже на самых сложных проектах. В нашем портфолио более 700 сайтов, 90+ действующих проектов, а также интернет-магазины и сайты с услугами на технической поддержке. 
                p
                    | В нашей работе мы применяем комплексное SEO продвижение, в которое входит:

                h3 Продвижение в Google

                p
                    | Наша компания имеет большой и успешный опыт в Google, что подтверждается позициями в ТОП-10 более семидесяти клиентских сайтов. Основные моменты при работе с этой системой:

                ul.why__contentBottomList

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p
                            | уникальный и полезный контент;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p
                            | скорость загрузки сайта;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p
                            | возраст ресурса;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p
                            | внешнее ссылочное продвижение;

                    li.why__contentBottomListItem
                        .bullet.bullet--small.bullet--white
                        p
                            | внутренняя перелинковка.

                p
                    | Каждому клиенту мы стараемся обеспечить рост позиций и потенциальных клиентов.