include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/circle/circle
    include ../../views/utils/burgerMenu
    include ../../views/header/header
    #butter(data-scroll-container)
        main(data-scroll-section)
            include ../../views/blog-once-page/intro

        include ../../views/footer/footer

// splide
script( src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" )
script( src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js" )
script( src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1/dist/locomotive-scroll.min.js" )
// my js
script( src="./assets/js/main.js" )