section.intro--productsOncePage.sectionForProgresCircleColor.whiteSection
    h1.visibleHidden “КАТ ЛОГИСТИК”

    picture
        source(srcset="assets/images/productsOncePage/introBg.webp" type="image/webp")
        source(srcset="assets/images/productsOncePage/introBg.jpg" type="image/jpg")
        img.intro__bg-productsOncePage(
            src="assets/images/productsOncePage/introBg.jpg" alt="Машина"
            width="1920" height="580"
        )

    .container
        .intro__content-productsOncePage
            .section__titles
                .section__titles-left
                    .section__overtitle
                        .section__overtitle-line
                        h3.section__overtitle-text.section__overtitle-text--productsOncePage “КАТ ЛОГИСТИК”

                    .section__title
                        h3.section__title-title.section__title-white.section__title-title-mb30
                            | Корпоративный сайт
                            br
                            | Логистической компании
                    
                    p.section__text
                        | Транспортная компания «КАТ Логистик» не первый год работает в сфере автомобильных 
                        | грузоперевозок. И оказываем своим клиентам не только услуги в сфере транспортировки   
                        | груза