section.solve-attraction.sectionForProgresCircleColor.whiteSection

    img.solve__decorationRightLines-attraction(
        src="assets/images/utils/obliqueLinesWithSalad--transparent.svg" alt="Декоративные линии" 
        width=175 height=305
    )

    .container
        .solve__content-attraction
            .solve__contentLeftWrapper-attraction
                .solve__contentLeft-attraction
                    p.solve__contentLeftText-attraction
                        | Решаем актуальные задачи в любых сферах бизнеса

            .solve__contentRight-attraction
                ol.solve__contentRightList-attraction
                    li.solve__contentRightListItem-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .servisec-list__item.servisec-list__item-solve.servisec-list__item--notMargin.servisec-list__item--notPadding
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content.servisec-list__item-content--wide
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 01
                        h2.solve__contentRightListItemText-attraction
                            | Если вы только выходите на рынок и хотят эффектно заявить о себе

                    li.solve__contentRightListItem-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .servisec-list__item.servisec-list__item-solve.servisec-list__item--notMargin.servisec-list__item--notPadding
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content.servisec-list__item-content--wide
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 02
                        h2.solve__contentRightListItemText-attraction
                            | Ниша вашего бизнеса полна конкурентов

                    li.solve__contentRightListItem-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .servisec-list__item.servisec-list__item-solve.servisec-list__item--notMargin.servisec-list__item--notPadding
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content.servisec-list__item-content--wide
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 03
                        h2.solve__contentRightListItemText-attraction
                            | Ваш прошлый или текущий исполнитель не справляется
                    
                    li.solve__contentRightListItem-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .servisec-list__item.servisec-list__item-solve.servisec-list__item--notMargin.servisec-list__item--notPadding
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content.servisec-list__item-content--wide
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 04
                        h2.solve__contentRightListItemText-attraction
                            | Сложно найти новых клиентов,а старые не обращаются повторно

                    li.solve__contentRightListItem-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .servisec-list__item.servisec-list__item-solve.servisec-list__item--notMargin.servisec-list__item--notPadding
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content.servisec-list__item-content--wide
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 05
                        h2.solve__contentRightListItemText-attraction
                            | Ваш прошлый или текущий исполнитель не справляется

                    li.solve__contentRightListItem-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        img.bullet.bullet--image.bullet--imageRocket(
                            src="assets/images/attraction/rocket.svg" alt="Ракета"
                                width=60 height=60
                        )
                        h2.solve__contentRightListItemText-attraction.solve__contentRightListItemText-attraction--bold
                                | И множество других ситуаций, с которыми мы уже неоднократно справлялись и готовы сноваItem