
include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/utils/burgerMenu

    include ../../views/circle/circle
          
    include ../../views/header/headerBlack
    #butter(data-scroll-container)
        main(data-scroll-section)
            include ../../views/attraction/intro
            include ../../views/attraction/solve
            include ../../views/attraction/services
            include ../../views/attraction/results
            include ../../views/attraction/stages
            include ../../views/attraction/answers
            include ../../views/attraction/why
            include ../../views/attraction/offer
        include ../../views/footer/footer

    include ../../views/modals/modals


            
// splide script
script( src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" )
script( src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1/dist/locomotive-scroll.min.js" )
// my js
script( src="./assets/js/main.js" )