section.about-studio.sectionForProgresCircleColor.whiteSection
    .container
        .about__content
            .about__contentTop
                .section__titles.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                    .section__titles-left
                        .section__overtitle
                            p.section__overtitle-text Услуги
                            .section__overtitle-line

                        .section__title
                            h3.section__title-title
                                | Широкий перечень
                                br
                                | услуг

                p.about__contentTopText.galleryItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                    | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Наше дело не так однозначно, как может показаться: семантический разбор внешних противодействий предполагает независимые способы реализации своевременного выполнения сверхзадачи. Как принято считать, стремящиеся вытеснить традиционное производство, нанотехнологии призывают нас к новым свершениям, которые, в свою очередь, должны быть призваны к ответу. В целом, конечно, высококачественный прототип будущего проекта создаёт предпосылки для системы массового участия. Повседневная практика показывает, что убеждённость некоторых оппонентов выявляет срочную потребность поэтапного и последовательного развития общества. В своём стремлении улучшить пользовательский опыт мы упускаем, что реплицированные с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. В целом, конечно, семантический разбор внешних противодействий однозначно определяет каждого участника как способного принимать собственные решения касаемо своевременного выполнения сверхзадачи! Сложно сказать, почему базовые сценарии поведения пользователей являются только методом политического 

            .about__contentMiddle
                .about__contentMiddleImages.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                    .about__contentMiddleImageWrapper.about__contentMiddleImageWrapper--center
                        picture
                            source(srcset="assets/images/studio/aboutUs-1.webp" type="image/webp")
                            source(srcset="assets/images/studio/aboutUs-1.jpg" type="image/jpg")
                            img.about__contentMiddleImage.about__contentMiddleImage--first(
                                src="assets/images/studio/aboutUs-1.jpg" alt="Картинка" 
                                width=349 height=444
                            )


                    .about__contentMiddleImageWrapper
                        picture
                            source(srcset="assets/images/studio/aboutUs-2.webp" type="image/webp")
                            source(srcset="assets/images/studio/aboutUs-2.jpg" type="image/jpg")
                            img.about__contentMiddleImage.about__contentMiddleImage--second(
                                src="assets/images/studio/aboutUs-2.jpg" alt="Картинка" 
                                width=512 height=624
                            )


                    .about__contentMiddleImageWrapper.about__contentMiddleImageWrapper--twoItems.about__contentMiddleImageWrapper--center
                        picture
                            source(srcset="assets/images/studio/aboutUs-3.webp" type="image/webp")
                            source(srcset="assets/images/studio/aboutUs-3.jpg" type="image/jpg")
                            img.about__contentMiddleImage.about__contentMiddleImage--third(
                                src="assets/images/studio/aboutUs-3.jpg" alt="Картинка" 
                                width=247 height=243
                            )

                        picture
                            source(srcset="assets/images/studio/aboutUs-4.webp" type="image/webp")
                            source(srcset="assets/images/studio/aboutUs-4.jpg" type="image/jpg")
                            img.about__contentMiddleImage.about__contentMiddleImage--fourth(
                                src="assets/images/studio/aboutUs-4.jpg" alt="Картинка" 
                                width=445 height=266
                            )



            

            