section.hoisting.sectionForProgresCircleColor.whiteSection

    .container
        .hoisting__content
            .hoisting__contentLeft.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
            picture
                source(srcset="assets/images/studio/hoisting.webp" type="image/webp")
                source(srcset="assets/images/studio/hoisting.jpg" type="image/jpg")
                img.hoisting__contentLeftImage(
                    src="assets/images/studio/hoisting.jpg" alt="Картинка" 
                    width=470 height=665
                )

            .hoisting__contentRight.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                h2.hoisting__contentRightTitle Собственная хостинг - площадка
                p.hoisting__contentRightText
                    | С тенденцией роста количества наших любимых клиентов, мы задумались о собственной хостинг площадке, и сделали ее! Мы предлагаем нашим клиентам услуги качественного хостинга по доступным ценам, преимущество размещения вашего сайта у нас заключается в том, что мы регулярно присматриваем за сайтами наших клиентов, и в случае возникновения нестандартных ситуаций оперативно реагируем. Хостинг площадка IT'Shtab закрыта для клиентов извне, пользоваться услугами хостинга могут только наши клиенты, в порядочности которых мы уверены, это помогает нам быть уверенными в отсутствии ситуаций, когда серверные ресурсы могут использоваться не по назначению. Данные клиентов ежедневно резервируются в несколько источников, что гарантирует сохранность. На данный момент у нас располагается более 150 сайтов