section.intro-studio.sectionForProgresCircleColor
    .container
        .intro__content-studio
            .intro__contentLeft-studio
                h1.intro__contentLeftTitle-studio
                    | Мы креативное и цифровое агентство с полным спектром услуг, работ ающее с B2B и B2C сектором

                .intro__contentLeftSuptitleWrapper-studio
                    p.intro__contentLeftSuptitle-studio
                        | Узнайте о самых знаковых и новых трендах, которые мы успешно применяем для того, чтобы сделать вас успешнее и заметнее на рынке в интернет среде. Наша история начинается в 2013 году
                    .intro__contentLeftSuptitleLine-studio

            .intro__contentRight-studio
                img.intro__contentRightImage-studio(
                    src="assets/images/utils/circleWithLines--fullSalad.svg" alt="Круг" 
                    width=403 height=403
                )

        .intro__videoBlock-studio
            .intro__videoBillet-studio
                p.intro__videoBilletText-studio SHOWREEL

            .intro__videoBlockVideoWrapper-studio
                video(src="assets/images/studio/video.mp4" autoplay muted loop).intro__video-studio