section.statistics.sectionForProgresCircleColor
    h1.visibleHidden Статистика
    
    .container
        .statistics__items.animationItem.animationNoRepeat(data-scroll data-scroll-call="1")
            .statistics__item.animated(data-scroll data-scroll-call="2")
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="500") 0 
                h2.statistics__itemTitle 
                    | Проектов 
                    br
                    | выполнено

            .statistics__item.animated(data-scroll data-scroll-call="3")
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="400") 0 
                h2.statistics__itemTitle 
                    | Довольных 
                    br
                    | клиентов

            .statistics__item.animated(data-scroll data-scroll-call="4")
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="95" data-with-sign="%")  0 
                h2.statistics__itemTitle 
                    | Клиентов
                    br
                    | обращаются снова

            .statistics__item.animated(data-scroll data-scroll-call="5")
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="10") 0 
                h2.statistics__itemTitle 
                    | Лет в сфере
                    br
                    | Digital