section.intro
    h1.visibleHidden Разработка веб сервисов любой сложности под ключ 

    img.intro__decorativeCircle(
        src="" alt="" 
        width= height=
    )

    .container
        .intro__content
            .intro__contentLeftSide
                h2.intro__contentLeftSideTitle
                p.intro__contentLeftSideText
                .intro__contentLeftSideButton

            .intro__contentRightSide
                img.intro__contentRightSideImage(
                    src="" alt=""
                    width= height=
                )