section.info.sectionForProgresCircleColor.whiteSection
    h1.visibleHidden Информация о нас

    img.info__decorativeObliqueLinesWithTransparen(
        src="assets/images/utils/obliqueLinesWithSalad--transparent.svg" alt="Декоративные линии" 
    )

    .info__decorativeVerticalLines
        .info__decorativeVerticalLine
        .info__decorativeVerticalLine

    .container
        .info__content-services
            .info__contentLeftSide.animationItem.animationNoRepeat(data-scroll data-scroll-call="14").fadeInLeft
                img.info__contentLeftSideImage(
                    src="assets/images/services/computer.svg" alt="Декоративный круг" 
                    width=494 height=451
                )

            .info__contentRightSide.animationItem.animationNoRepeat(data-scroll data-scroll-call="13").fadeInRight
                h2.info__contentRightSideTitle Ваша Digital команда бла бла бла бла
                p.info__contentRightSideText
                    | Мы команда стратегического цифрового маркетинга работаем по всему миру с крупнейшими брендами, мы верим что прогресс происходит только тогда, когда вы отказываетесь играть безопасно. Мы объединяем идеи и действия,
                    |и идеи с дизайном, технологическими данными для создавать впечатления от бренда, которые нравятся клиентам наши сервисы.
                
                .fillingButton.fillingButton--infoInfo.modalTrigger(data-modal="2")
                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                    svg.fillingButton__svg( viewBox="0 0 204 204" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--infoInfo( cx="102" cy="102" r="102" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--infoInfo

                    .fillingButton__content
                        p.fillingButton__span--smallMargin
                            span Бесплатная 
                            | консультация
