section.costs.sectionForProgresCircleColor
    h1.visibleHidden

    .container
        .costs__content-sd
            .costs__contentLeft.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .servisec-list__item
                    .servisec-list__item-title-span-wrapper
                        .servisec-list__item-title-span-bg

                    .servisec-list__item-content
                        h1.servisec-list__item-title 
                            span.servisec-list__item-title-span Стоимость 
                            | разработки

                .costs__contentLeftTextWrapper
                    p.costs__contentLeftText
                        | Оценка стоимости проекта производиться индивидуально, на основе технического задания, так как единой стоимости разработки сервиса не существует Оценка стоимости проекта производиться индивидуально, на основе технического задания, так как единой стоимости разработки сервиса не существует Оценка стоимости проекта производиться индивидуально, на основе технического задания, так как единой стоимости разработки сервиса не существует Оценка стоимости проекта производиться индивидуально, на основе технического задания, так как единой стоимости стоимости проекта производиться индивидуально, на основе технического задания, так как единой стоимости 

                .costs__contentLeftButtonWrapper
                    .fillingButton.fillingButton--costs.modalTrigger(data-modal="4")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--costs( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--costs

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Рассчит
                                | ать проект
            
            .costs__contentRight.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                h2.costs__contentRightTitle Доступные варианты оплаты проекта
                
                .costs__contentRightItems
                    .costs__contentRightItem
                        .costs__contentRightItemLeft
                            img.costs__contentRightItemLeftIcon(
                                src="assets/images/serviceDetail/project.svg" alt="Декоративная картинка" 
                                width=55 height=55
                            )
                        .costs__contentRightItemRight
                            h3.costs__contentRightItemRightTitle Проектно
                            p.costs__contentRightItemRightText
                                | Оплата проекта делится на 2 равные части
                                | перед началом работ и по окончанию

                    .costs__contentRightItem
                        .costs__contentRightItemLeft
                            img.costs__contentRightItemLeftIcon(
                                src="assets/images/serviceDetail/hours.svg" alt="Декоративная картинка" 
                                width=52 height=52
                            )
                        .costs__contentRightItemRight
                            h3.costs__contentRightItemRightTitle По часам
                            p.costs__contentRightItemRightText
                                | Функционал рассчитывается по часам
                                | клиент предоплачивает количество часов

                    .costs__contentRightItem
                        .costs__contentRightItemLeft
                            img.costs__contentRightItemLeftIcon(
                                src="assets/images/serviceDetail/sprints.svg" alt="Декоративная картинка" 
                                width=55 height=55
                            )
                        .costs__contentRightItemRight
                            h3.costs__contentRightItemRightTitle Спринтами
                            p.costs__contentRightItemRightText
                                | Проекта разбивается на этапы (спринты)
                                | и каждый из этапов оплачивается отдельно