section.intro-projects.sectionForProgresCircleColor
    h1.visibleHidden Проекты

    img.intro__decorativeCircle-projects(
        src="assets/images/utils/semicircle-to-right--gray.svg" alt="Декоративный круг"
    )

    .container
        .intro__content-projects
            .intro__contentLeftSide-projects
                h2.intro__contentLeftSideTitle-projects Проекты  
                .intro__contentLeftSideButtons-projects
                    a(href="").intro__contentLeftSideButton-projects.intro__contentLeftSideButton-projects--active-projects
                        | Все
                    a(href="").intro__contentLeftSideButton-projects
                        | Разработка
                    a(href="").intro__contentLeftSideButton-projects
                        | Продвижение

            .intro__contentLine-projects

            .intro__contentRightSide-projects
                img.intro__contentRightSideImage-projects(
                    src="assets/images/projects/intro.svg" alt="Примеры работ"
                    width=659 height=433
                )
                