section.intro-brief.sectionForProgresCircleColor
    .container.intro__container-brief
        .intro__top-brief
            .intro__top-left-brief
                picture
                    source(srcset="assets/images/brief/behind-circle.webp" type="image/webp")
                    source(srcset="assets/images/brief/behind-circle.png" type="image/png")
                    img.intro__top-left-circle-brief(
                        src="assets/images/brief/behind-circle.png" alt="Размытый круг"
                        width=605 height=605
                    )
                img.intro__top-left-tickets-brief(
                    src="assets/images/brief/tickets.svg" alt="Карточки заказа"
                )

            .intro__top-right-brief
                h1.intro__top-right-title Онлайн бриф-brief
                .intro__top-right-text-block-brief
                    p.intro__top-right-text-brief
                        | В ходе заполнения брифа мы рекомендуем вам постараться максимально подробно изложить свое виденье и заполнить информция о компании, а так же о ваших текущих конкурентах

                .intro__top-right-button-brief
                    .fillingButton.fillingButton--brief-intro
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--brief-intro( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--brief-intro

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Прис
                                | тупить

